body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: verdana, arial, helvetica, sans-serif;
    color: #ccc;
    background-color: #333;
}
a {
    text-decoration: none;
    font-weight: bold;
    color:  #ccc;
    outline: 1px solid white;
}
a:visited {
    color:  #ccc;
}
a:active {
    color:  #ccc;
}
a:hover {
    color: #ccc;
    text-decoration: underline;
}
strong, b {
    font-weight: bold;
}
p {
    font-size: 12px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}
h1 {
    font-size: 24px;
    line-height: 44px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
h2 {
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
h4 {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
h5 {
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
h6 {
    font-size: 10px;
    line-height: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
img {
    border: 0;
}
#content {
    float: left;
    padding: 10px;
    margin: 20px;
    background: #666;
    border: 5px solid #ccc;
    voice-family:inherit;
    width: 300px;
    height: 150px;
}
pre {
    font-size: 12px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}